[project]
	description = the SSO authentication server used by software factory
[access "refs/*"]
  read = group Anonymous Users
	read = group cauth-core
  owner = group cauth-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group cauth-core
	label-Verified = -2..+2 group cauth-ptl
	label-Workflow = -1..+1 group cauth-core
	submit = group cauth-ptl
	read = group Anonymous Users
	read = group cauth-core
[access "refs/meta/config"]
    read = group cauth-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
